*, *::after *::before {
    box-sizing: border-box;
}

:root {
    --light-color: #c8d6e5;
    --dark-color: #222f3e;
    font-family: sans-serif;
  }

body {
    background-color: var(--dark-color);
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.piano {
    display: flex;
    box-shadow: 0px 3px 15px rgba(256,256,256,0.2);
    cursor: pointer;
}

.white {
    width: 100px; height: 400px;
    background-color: var(--light-color);
    border: 1px solid var(--dark-color);
}

.black {
    width: 60px; height: 240px;
    background-color: black;
    margin-left: -30px; margin-right: -30px;
    z-index: 2;
}

.white.active {
    opacity: 80%;
}

.black.active {
    background-color: #333;
}